.img img {
width: 20%;
margin: 5px;
}
.img{
  display: inline-block;
}

.head{
  display: flex;
  font-size: 10px;
  }


.head2 ul{
  display: inline-block;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.head2 li{
  padding: 5px;
}

.font{
  position: relative;
}

.photo{
  margin: 0 0 0 auto;
  display: block;
  width: 50%;
}

.text{
  position: absolute;
  top: 10%;
  left: 20%;
}

.en{
  color: rgb(175, 46, 46);
}

.growth{
  color: rgb(6, 87, 124);
}

.text1{
  color: rgb(175, 46, 46);
}

.growth2{
  color: rgb(6, 87, 124);
}

.text2{
  font-size: 5px;
}

.tag1{
  width: 85px;
  height: 20px;
  background: brown;
  border-radius: 30px;
  color: aliceblue;
  text-align: center;
  padding: 1px;
  margin-right: 25px;
  margin-left: 25px;
}

.mein{
  display: flex;
  border-top: solid 5px #757575;
  border-bottom: solid 1px #757575;
}

.tag{
  display: flex;
  border-bottom: solid 1px #757575;
  border-top: solid 1px #757575;
}

.N{
  color: rgb(175, 46, 46);
  font-size: 2px;
}

.news{
margin: 0 auto;
width: 60%;
}

.border{
  border-bottom: solid 5px #757575;
}

.middleimg {
  width: 40%;
}

.middle2{
  display: flex;
  justify-content: space-around;
}

.middle{
  background: rgb(172, 172, 172);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 100px;
  width: 100%;
}

.about{
  text-align: center;
  color: rgb(175, 46, 46);
}

.en2{
  text-align: center;
}
.middle3{
  width: 50%;
  font-size: 15px;
  margin-left: 50px;
}
.servicegrid{
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  margin-left: 0%;
  width: 60%;
}

.business1{
  grid-column: 1/2;
  grid-row: 1/3;
  background: rgba(245, 35, 116, 0.514);
  padding: 15px;
}

.business2{
  grid-column: 2/3;
  grid-row: 1/2;
  background: rgba(243, 93, 150, 0.514);
  padding: 15px;
}

.business3{
  grid-column: 2/3;
  grid-row: 2/3;
  background: rgba(248, 143, 183, 0.514);
  padding:  15px;
}
.businessimg{
  width: 25%;
  display: block;
  margin: auto;
}

.businessimg2{
  width: 50%;
  float: left;
}

.businessimg3{
  width: 50%;
  float: left;
}

.sarvicegrid{
  width: 400px;
  height: 10px;
}
.businesstitle{
font-size: 5px;
text-align: center;
}
.businesstitle2{
font-size: 5px;
text-align: center;
}
.businesstitle3{
font-size: 5px;
text-align: center;
}
.businesscontents{
  max-width: 960px;
  margin: 0 auto;
}
.businesscontents2{
  font-size: 5px;
}
.businesscontents3{
  font-size: 5px;
}
.service{
  margin-left: 300px;
}

.card{
  background: #e2dfdf;
  padding: 20px;
  margin-top: 50px;
}

.card3{
display: flex;
  justify-content: space-between;
}
.cardtext{
  width: 30%;
  box-shadow: 0px 3px 10px rgba(161, 161, 161, 0.514);
  border-radius: 30px;
  position: relative;
}
.cardimg{
  width: 100%;
  border-radius: 10% 10% 0 0 ;
}
.blogtext{
  background-color: rgba(199, 11, 83,514);
  display: inline-block;
  color: #fff;
  position: absolute;
  top: 0%;
  font-size: 20px;
  border-radius: 10px 0 0 0 ;
  padding: 5px;
}

.blogtext2{
  background-color: rgba(199, 11, 83,514);
  display: inline-block;
  color: #fff;
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: 20px;
  border-radius: 10px 0 0 0 ;
  padding: 5px;
}

.blogtext3{
  background-color: rgba(199, 11, 83,514);
  display: inline-block;
  color: #fff;
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: 20px;
  border-radius: 10px 0 0 0 ;
  padding: 5px;
}

.cardcontent{
  padding: 5px;
  font-size: 15px;
  text-align: center;
}
.dete{
display: inline-block;
}
.coachtech{
display:inline-block;
margin: 20px;
}

.card2{
  text-align: right;
  font-size: 10px;
}
.button{
  width: 100px;
  padding: 10px;
  color: rgb(235, 78, 164);
  border-radius: 100px ;
  text-align: center;
  display: block;
  border:1px solid  rgb(235, 78, 164);
  font-size: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.company{
  margin-left: 15%;
}
.company2{
font-size: 10px;
}
.company3{
  font-weight: bold;
  font-size: 20px;
}
.kaisha{
  width: 70%;
}

.kaisha th{
font-weight: bold;
background-color: rgb(187, 181, 181);
}

.kaisha td{
  border: solid 1px black;
  padding: 10px;
}

.recruitmentimg{
  width: 100%;
}

.empoloyeeimg{
  width: 100%;
}

.under{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.recruitment{
  text-align: center;
  color: #e2dfdf;
  position: relative;
  font-size: 30px;
  font-weight: bold;
}

.empoloyee{
  text-align: center;
  color: #e2dfdf;
  position: relative;
  font-size: 30px;
  font-weight: bold;
}

.empoloyeetext{
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50% -50%);
}

.recruitmenttext{
  position: absolute;
  top: 40%;
  left: 40%;
}

.estratext{
  text-align: center;
  color: #757575;
}

.border2{
  margin: auto;
  width: 5px;
  height: 50px;
  background-color: rgb(175, 46, 46);
}


.buttontext{
  width: 200px;
  padding: 10px;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  text-align: center;
  box-shadow: rgba(199, 21, 134, 0.651);
  display: block;
  margin: 100px;
  background: linear-gradient(90deg,rgba(247, 9, 108, 0.568),rgb(247, 9, 108));
  position: relative;
  top: 50%;
  left: 35%;
}

.buttontext ::before{
position: absolute;
top: 50%;
left: 15px;
background: url(../20210619ota/img/mailicon.svg);
background-size: cover;
width: 30px;
height: 30px;
transform: translate(0,-50%);
}

.last{
  width: 100%;
  height: 50px;
  background: rgb(187, 187, 187);
  text-align: center;
  padding-top: 20px;
}

.lasttext{
  margin: 10px;
}